.all-review {
    text-align: center;
    margin: 10px;
    border: 5px solid teal;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

.all-review img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.all-review h2 {
    color: teal;
}