.navbar {
    height: 80px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-family: 'Anton', sans-serif;
    color: white;
    letter-spacing: .2em;
    font-size: 2.5rem;
}

.toggler {
    color: white;
    width: 50px;
    height: 50px;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: white;
    color: teal;
}

.active-nav-link {
    background-color: white;
    color: teal;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

@media only screen and (min-width: 780px) {
    .toggler {
        display: none;
    }

}

@media only screen and (max-width: 780px) {
    .nav-links {
        display: none;
    }

    .nav-links-toggled {
        position: absolute;
        right: 0;
        top: 80px;
        background-color: teal;
        height: 100%;

        padding-left: 15px;
    }

    .nav-links-toggled a {
        display: block;
        margin-top: 10px;

    }
}