@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}